<div class="jumbotron text-center">
  <div class="container-fluid">
    <h1>JAM|MAN</h1>
    <h3>Get together and jam, man</h3><br>
    <a class="btn btn-default btn-lg" href="/categories" role="button">Find Musicians</a>
    <a class="btn btn-primary btn-lg" href="/articles/new" role="button">Host Jam</a>
  </div>
</div>

